<div>
    <p class="heading-meta p-col p-pl-5 p-pt-5 p-mb-0 p-mt-5">INFORMATION</p>
    <h2 class="addo-heading p-pl-5 fadeInLeft animated p-m-0" data-animate-effect="fadeInLeft"><b>About Me</b>
    </h2>
    <div class="p-grid p-p-0 full-width">
        <div class="p-md p-sm p-lg-5 p-p-5">
            <img src="./assets/images/Professional-Headshot-Poses-Blog-Post.jpg" class="img-fluid">

        </div>
        <div class="p-md p-sm p-lg-7 p-pt-5 p-pl-2 p-pr-5 p-pb-5">
            <p class="p-pl-5 heading-meta p-col">About Me </p>
            <h3 class="p-pl-5" data-animate-effect="fadeInLeft"><b>I'm Elavarasan Siluvaimanickam</b></h3>
            <p class="objective p-pl-5 p-mb-4">Web developer with more than 2.42 years of well-rounded experience with a
                degree in the field of Electrical and Electronics Engineering, extensive knowledge of modern Web
                techniques. Looking for
                an opportunity to work and upgrade, as well as being involved in an organization that believes in
                gaining a competitive edge and giving back to the community.</p>

            <div class="p-grid p-pl-5">
                <div class="p-col-12 p-md-6 p-lg-6">
                    <p class="dob"><b>Birthday:</b> 19 July 1996</p>
                </div>
                <div class="p-col-12 p-md-6 p-lg-6">
                    <p class="dob"><b>Degree:</b> EEE</p>
                </div>
                <div class="p-col-12 p-md-6 p-lg-6">
                    <p class="dob"><b>Website :</b> <a href="https://elavarasan29597.github.io/profile"
                            target="_blank">elavarasan29597.github.io</a></p>
                </div>
                <div class="p-col-12 p-md-6 p-lg-6">
                    <p class="dob"><b>Mail:</b> elavarasan29597@gmail.com</p>
                </div>
            </div>
            <div class="p-grid p-pl-5">
                <div class="p-col-12 p-md-6 p-lg-6">
                    <p class="dob"><b>Phone:</b> 9865411713</p>
                </div>
                <div class="p-col-12 p-md-6 p-lg-6">
                    <p class="dob"><b>Linkedin:</b> <a href="https://www.linkedin.com/in/elavarasan-s-700b3a1b2"
                            target="_blank">elavarasan</a></p>
                </div>
            </div>
            <div class="p-grid p-pl-5">
                <p-button class="p-button-secondary p-lg-4" label="HIRE ME" [loading]="loadinghearMe"
                    (onClick)="hearMe()">
                </p-button>
                <p-button class="p-button-secondary p-lg-6" label="DOWNLOAD CV" [loading]="loadingdownloadCv"
                    (onClick)="downloadCv()"></p-button>
            </div>
        </div>
        <div class="p-lg-12 p-ml-2 p-mr-0 shodow" style="background: #f7f7f7;">
            <p class="p-pl-5 heading-meta p-col">ABILITIES </p>
            <h3 class="p-pl-5" data-animate-effect="fadeInLeft"><b>MY SKILLS</b></h3>

            <div class="p-grid p-pl-5">
                <div class="p-col-12 p-md-12 p-lg-12">

                    <h5><b>PHP / Laravel</b></h5>
                    <p class="dob">There’s no style over substance here. I bring together form and the function to
                        create something that looks good and performs brilliantly. Simple.</p>

                    <h5><b>Angular</b></h5>
                    <p class="dob">Always adapt with the trend needs some time. Once we adapt for it It will give back
                        the time we spent for it. I can write quick, scalable and simple code.</p>

                    <h5><b>Javascript / Jquery</b></h5>
                    <p class="dob">Still we need to catch some events to do a great thing with it. I am quite good with
                        it.</p>
                    <h5><b>HTML / CSS</b></h5>
                    <p class="dob">There is no web without HTML and CSS. But the way it looks is matter at all the time.
                        I can make it looks and feels better for everybody with any device.</p>

                    <h5><b>MySQL / SQL / MongoDB</b></h5>

                    <p class="dob">We are all always need a desk to keep our data. So I can make those desks with SQL /
                        MySQL / MongoDB without depending on any woods.</p>

                    <h5><b>Java </b></h5>
                    <p class="dob">Having good knowledge in OOPs concept, Data stucture and Algorithm.</p>

                    <h5><b>Automation Testing / Selenium / WebdriverIO/ TestCafe</b></h5>

                    <p class="dob">Quite good in automation testing along with expertised knowledge in Selenium
                        ,webdriverio and testcafe.</p>

                </div>
                <!-- <div class="p-col-12 p-md-6 p-lg-6 p-p-5">
                    <p class="bar-title">HTML<span class="percent align-right">90%</span></p>
                    <div class="bar">
                        <div class="bar-fill bar-fill-developer start"></div>
                    </div>
                    <p class="bar-title">CSS<span class="percent align-right">90%</span></p>
                    <div class="bar">
                        <div class="bar-fill bar-fill-developer start"></div>
                    </div>
                    <p class="bar-title">Javascrip,Jquery<span class="percent align-right">90%</span></p>
                    <div class="bar">
                        <div class="bar-fill bar-fill-developer start"></div>
                    </div>

                    <p class="bar-title">Angular<span class="percent align-right">90%</span></p>
                    <div class="bar">
                        <div class="bar-fill bar-fill-developer start"></div>
                    </div>
                    <p class="bar-title">Laravel<span class="percent align-right">90%</span></p>
                    <div class="bar">
                        <div class="bar-fill bar-fill-developer start"></div>
                    </div>
                    <p class="bar-title">Java<span class="percent align-right">90%</span></p>
                    <div class="bar">
                        <div class="bar-fill bar-fill-developer start"></div>
                    </div>
                    <p class="bar-title">SQL , MySql<span class="percent align-right">90%</span></p>
                    <div class="bar">
                        <div class="bar-fill bar-fill-developer start"></div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>